body {
  text-align: center;
}

.contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.photo {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  border-radius: 50%;
}

ul {
  max-width: 600px;
  display: inline-block;
}

.summary {
  max-width: 600px;
  display: inline-block;
}

details {
  text-align: left;
  max-width: 600px;
  display: inline-block;
}

summary {
  text-align: center;
}
